@import (reference) "../bower_components/bootstrap/less/bootstrap";
@import "../bower_components/bootstrap/less/normalize";
@import "../bower_components/bootstrap/less/scaffolding";
@import "../bower_components/bootstrap/less/grid";

nav {
  ul:extend(.nav all, .nav-pills all) {}
}
table.budget {
  table {
    border-spacing: 0;
    width: 100%;
  }
  tbody {
    border-bottom: dotted 1px #ccc;
    [colspan] {
      background: #ccc;
      padding: 0;
      [colspan] {
        background: #aaa;
        tr td {
          border-bottom: dotted 1px #888;
        }
      }
      tbody {
        border-bottom: dotted 1px #aaa;
      }
    }
  }
  td,
  th {
    text-align: right;
  }
  td {
    &.cost,
    &.revenue {
      width: 13%;
    }
    &.no {
      width: 3%;
    }
  }
  th {
    &.cost,
    &.revenue {
      text-align: center;
    }
  }
  tfoot td {
    border-top: solid 1px grey;
  }
  thead tr:last-child th {
    border-bottom: solid 1px black;
  }
  tr {
    .revenue,
    .cost {
      border-left: solid 1px #bbb;
      &.main {
        border-color: black;
      }
    }
  }
  tr.toggler {
    td {
      cursor: pointer;
    }
    &:hover td {
      text-decoration: underline;
    }
    & + tr {
      display: none;
      &.toggled {
        display: table-row;
      }
    }
  }
}
.loader:extend(.progress all, .progress.active all, .progress-striped all) {
  div:extend(.progress-bar all) {
    width: 100%;
  }
}
.warning:extend(.alert all, .alert-danger all) {}