<!DOCTYPE html>
<html lang="nb" ng-app="budgetApp">
  <head>
    <script src="/app/budget.js"></script>
    <link href="/css/budget.css" rel="stylesheet" type="text/css" />
  </head>
  <body ng-controller="BudgetController">
    <div class="container">
      <h1>Statsbudsjett</h1>
      <nav ng-show="budgets">
        <ul>
          <li class="disabled">
            <a href>Vis:</a>
          </li>
          <li ng-class="{'active': budget == selectedBudget}" ng-repeat="budget in budgets">
            <a href ng-click="selectBudget(budget)">{{budget.name}}</a>
          </li>
        </ul>
        <ul ng-show="alternatives.length > 0">
          <li class="disabled">
            <a href>Sammenlign med:</a>
          </li>
          <li ng-class="{'active': budget == selectedAlternative}" ng-repeat="budget in alternatives">
            <a href ng-click="selectAlternative(budget)">{{budget.name}}</a>
          </li>
        </ul>
      </nav>
      <div class="loader" ng-hide="budget">
        <div>LASTER INN...</div>
      </div>
      <table class="budget" ng-class="{'with-alternative': !!selectedAlternative}" ng-show="budget">
        <thead>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td colspan="2">{{budget.meta.name}}</td>
          <td colspan="3" ng-show="selectedAlternative">{{budget.alternative.name}}</td>
        </tr>
        <tr>
          <th class="no">&nbsp;</th>
          <th class="name">Ramme/Kapittel/Post</th>
          <th class="revenue">Inntekter</th>
          <th class="cost">Utgifter</th>
          <th class="revenue" ng-show="selectedAlternative">Inntekter</th>
          <th class="cost" ng-show="selectedAlternative">Utgifter</th>
          <th class="diff" ng-show="selectedAlternative">Inntekter</th>
        </tr>
        </thead>
        <tbody ng-repeat="frame in budget.frames">
        <tr hdo-toggle entity="frame" key="chapters">
          <td class="no">{{frame.no}}</td>
          <td class="name">{{frame.name}}</td>
          <td class="revenue">{{m(frame.revenue)}}</td>
          <td class="cost">{{m(frame.cost)}}</td>
          <td class="revenue" ng-show="selectedAlternative">{{m(frame.alternative.revenue)}}</td>
          <td class="cost" ng-show="selectedAlternative">{{m(frame.alternative.cost)}}</td>
          <td class="diff" ng-show="selectedAlternative">{{m(d(frame, frame.alternative))}}</td>
        </tr>
        <tr>
          <td colspan="7">
            <table>
              <tbody ng-repeat="chapter in frame.chaptersLoaded">
              <tr hdo-toggle entity="chapter" key="posts">
                <td class="no">{{chapter.no}}</td>
                <td class="name">{{chapter.name}}</td>
                <td class="revenue">{{m(chapter.revenue)}}</td>
                <td class="cost">{{m(chapter.cost)}}</td>
                <td class="revenue" ng-show="selectedAlternative">{{m(chapter.alternative.revenue)}}</td>
                <td class="cost" ng-show="selectedAlternative">{{m(chapter.alternative.cost)}}</td>
                <td class="diff" ng-show="selectedAlternative">{{m(d(chapter, chapter.alternative))}}</td>
              </tr>
              <tr>
                <td colspan="7">
                  <table>
                    <tr ng-repeat="post in chapter.posts">
                      <td class="no">{{post.no}}</td>
                      <td class="name">{{post.text}}</td>
                      <td class="revenue">
                        <span ng-show="post.revenue > 0">{{m(post.revenue)}}</span>
                      </td>
                      <td class="cost">
                        <span ng-show="post.cost > 0">{{m(post.cost)}}</span>
                      </td>
                      <td class="revenue" ng-show="selectedAlternative">{{m(post.alternative.revenue)}}</td>
                      <td class="cost" ng-show="selectedAlternative">{{m(post.alternative.cost)}}</td>
                      <td class="diff" ng-show="selectedAlternative">{{m(d(post, post.alternative))}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="no">&nbsp;</td>
          <td class="name">TOTALT</td>
          <td class="revenue">{{m(budget.meta.revenue)}}</td>
          <td class="cost">{{m(budget.meta.cost)}}</td>
          <td class="revenue" ng-show="selectedAlternative">{{m(budget.alternative.revenue)}}</td>
          <td class="cost" ng-show="selectedAlternative">{{m(budget.alternative.cost)}}</td>
          <td class="diff" ng-show="selectedAlternative">{{m(d(budget.meta, budget.alternative))}}</td>
        </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>